[Desktop Entry]
_Name=Dropbox
_GenericName=File Synchronizer
_Comment=Sync your files across computers and to the web
Exec=dropbox
Terminal=false
Type=Application
Icon=dropbox
Categories=Network;FileTransfer
StartupNotify=false
